<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
  xmlns:set="http://www.sitecore.net/xmlconfig/set/"
  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor type="XmCloudDemo.Pipelines.GetLayoutServiceContext.ThemeContext, XmCloudDemo" resolve="true" />
          </getLayoutServiceContext>
        </pipelines>
      </group>
      <parseSiteItem>
        <processor type="XmCloudDemo.Pipelines.ParseSiteItem.AddThemeProperty, XmCloudDemo" resolve="true" />
      </parseSiteItem>
    </pipelines>
  </sitecore>
</configuration>
